/**
 * {{&summary}}
 * @method
 * @name {{&className}}#{{&methodName}}
{{#parameters}}
{{^isSingleton}} * @param {{=<% %>=}}{<%&type%>}<%={{ }}=%> {{&camelCaseName}} - {{&description}}{{/isSingleton}}
{{/parameters}}
 *
 */
{{&methodName}}({{#hasParams}}parameters = {}{{/hasParams}}) {
	{{#hasBodyParameter}}let data = {};{{/hasBodyParameter}}{{^hasBodyParameter}}{{#hasFormParameter}}let data = {};{{/hasFormParameter}}{{/hasBodyParameter}}

	let path = '{{&domain}}{{&basePath}}{{&path}}';
	{{#hasQueryParameter}}const params = {};{{/hasQueryParameter}}
	{{#headers}}const headers = {};{{/headers}}

	{{#headers}}
		headers['{{&name}}'] = [{{&value}}];
	{{/headers}}

	{{#parameters}}
	{{#allowGetExternal}}parameters['{{&camelCaseName}}'] = parameters['{{&camelCaseName}}'] || this.getExternal('{{&camelCaseName}}');{{/allowGetExternal}}
	{{#required}}
	if(parameters['{{&camelCaseName}}'] === undefined){
		return this.rejectMissingRequired('{{&type}}', '{{&camelCaseName}}');
	}
	{{/required}}

	{{#isQueryParameter}}
	if(parameters['{{&camelCaseName}}'] !== undefined){
		params['{{&name}}'] = parameters['{{&camelCaseName}}'];

		if (_.isArray(params['{{&name}}'])) {
			params['{{&name}}'] = params['{{&name}}'].join(',');
		}
	}
	{{/isQueryParameter}}

	{{#isBodyParameter}}
	if(parameters['{{&camelCaseName}}'] !== undefined){
		data = parameters['{{&camelCaseName}}'];
	}
	{{/isBodyParameter}}

	{{#isPathParameter}}
	if(parameters['{{&camelCaseName}}'] !== undefined){
		path = path.replace('{{=<% %>=}}{<%& name %>}<%={{ }}=%>', parameters['{{&camelCaseName}}']);
	}{{^required}} else {
		path = path.replace('{{=<% %>=}}{<%& name %>}<%={{ }}=%>', '');
	}{{/required}}
	{{/isPathParameter}}

	{{#isHeaderParameter}}
	headers['{{&name}}'] = parameters['{{&camelCaseName}}'];
	{{/isHeaderParameter}}

	{{#isFormParameter}}
	data = parameters['{{&camelCaseName}}'];
	{{/isFormParameter}}
	{{/parameters}}

	return this.request({
		method: '{{method}}',
		url: path,
		{{#hasQueryParameter}}params,{{/hasQueryParameter}}
		{{#hasBodyParameter}}data,{{/hasBodyParameter}}{{^hasBodyParameter}}{{#hasFormParameter}}data,{{/hasFormParameter}}{{/hasBodyParameter}}
		{{#headers}}headers,{{/headers}}
	});
}
