/**
 * {{&summary}}
 * @method
 * @name {{&className}}#{{&methodName}}
{{#parameters}}
{{^isSingleton}} * @param {{=<% %>=}}{<%&type%>}<%={{ }}=%> {{&camelCaseName}} - {{&description}}{{/isSingleton}}
{{/parameters}}
 *
 */
{{&methodName}}({{#hasParams}}parameters = {}{{/hasParams}}) {
	{{#hasFormParameter}}const form = {};{{/hasFormParameter}}
	{{#hasBodyParameter}}const data = {};{{/hasBodyParameter}}
	let path = '{{&path}}';
	{{#hasQueryParameter}}const params = {};{{/hasQueryParameter}}
	{{#headers}}const headers = {};{{/headers}}

	{{#headers}}
		headers['{{&name}}'] = [{{&value}}];
	{{/headers}}

	{{#parameters}}
	{{#allowGetExternal}}parameters['{{&camelCaseName}}'] = parameters['{{&camelCaseName}}'] || this.getExternal('{{&camelCaseName}}');{{/allowGetExternal}}
	{{#required}}
	if(parameters['{{&camelCaseName}}'] === undefined){
		return this.rejectMissingRequired('{{&paramType}}', '{{&camelCaseName}}');
	}
	{{/required}}

	{{#isQueryParameter}}
	if(parameters['{{&camelCaseName}}'] !== undefined){
		params['{{&name}}'] = parameters['{{&camelCaseName}}'];
	}
	{{/isQueryParameter}}

	{{#isBodyParameter}}
	if(parameters['{{&camelCaseName}}'] !== undefined){
		data['{{&name}}'] = parameters['{{&camelCaseName}}'];
	}
	{{/isBodyParameter}}

	{{#isPathParameter}}
	if(parameters['{{&camelCaseName}}'] !== undefined){
		path = path.replace('{{=<% %>=}}{<%& camelCaseName %>}<%={{ }}=%>', parameters['{{&camelCaseName}}']);
	}
	{{/isPathParameter}}

	{{#isHeaderParameter}}
	headers['{{&name}}'] = parameters['{{&camelCaseName}}'];
	{{/isHeaderParameter}}

	{{#isFormParameter}}
	form['{{&name}}'] = parameters['{{&camelCaseName}}'];
	{{/isFormParameter}}
	{{/parameters}}

	return this.request({
		method: '{{method}}',
		url: path,
		{{#hasQueryParameter}}params,{{/hasQueryParameter}}
		{{#hasBodyParameter}}data,{{/hasBodyParameter}}
		{{#headers}}headers,{{/headers}}
	});
}
